<!--
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (C) 2020 The LineageOS Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.lineageos.overlay.customization.navbar.hidden"
        android:versionCode="1"
        android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:priority="1" android:category="com.android.internal.navigation_bar_mode" />

        <application android:extractNativeLibs="false" android:hasCode="false" android:label="@string/navigation_bar_mode_title" android:usesNonSdkApi="true"/> <!-- aggiunto -->
</manifest>
